
.task-container {
  background: url('task-container.png') no-repeat center center;
  background-size: contain;
  padding: 20px;
  text-align: center;
  color: #fff;
  position: relative;
  font-size: 18px;
}

.task-form{
  display: block;
  padding: 20px;
  margin: 15px;
}

.task-form label{
  width: 30%;
  height: 1vw;
}



h1 {
  font-size: 48px;
  color: gold;
  text-shadow: 2px 2px 4px #000;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 1.5;
  color: #eee;
}

.task-form input {
  display: block;
  width: 40%;
  margin: 10px auto;
  padding: 10px;
  border: 2px solid #555;
  background-color: #444;
  color: #fff;
}

.task-form select {
  display: block;
  width: 20%;
  margin: 10px auto;
  padding: 10px;
  border: 2px solid #555;
  background-color: #444;
  color: #fff;
}
.task-form button {
  background-color: gold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  color: #000;
}

.task-form button:hover {
  background-color: darkgoldenrod;
}